@import url('https://fonts.googleapis.com/css2?family=Anton&family=Varela+Round&display=swap');

AnchorPane {
    -fx-background-color: #1a1a1a;
}

Button {
    -fx-background-color: aqua;
}

Button:hover {
    -fx-background-color: #41c6c6;
}

TextField,
PasswordField {
    -fx-background-color: #1a1a1a;
    -fx-border-color: white;
    -fx-border-width: 0 0 2px 0;
    -fx-text-fill: white;
    -fx-font-family: 'Varela Round', sans-serif;
    -fx-font-size: 15px;
}

.status {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: white;
    -fx-font-family: 'Varela Round', sans-serif;
    -fx-font-size: 15px;
}